html, body {
    height: 100%;
    width: 100%;
    background-color:#202E36;
  }
.wholeContainer{
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 560px;
    margin-top: 100px;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.wholeContainer > div{
    width:200px;
    height:200px;
    background-color:#243943;
    border-radius: 15px;

}
.Ximg{
   background-image:url("photos/xImg.svg");
   background-repeat:no-repeat;
   background-size: 116px;
   background-position: center;
}

.Oimg{
   background-image:url("photos/Oimg.svg");
   background-repeat:no-repeat;
   background-size: 116px;
   background-position: center;
}

.xHover{
   background-image:url("photos/xHover.svg");
   background-repeat:no-repeat;
   background-size: 116px;
   background-position: center;
}
.oHover{
   background-image:url("photos/Ohover.svg");
   background-repeat:no-repeat;
   background-size: 116px;
   background-position: center;
}
#restart{
   width:60px;
   height:60px;
   background-color: white;
   background-image: url("photos/restart.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size:30px;
   border-radius:50%;
   position:absolute;
   left:1150px;
   top:220px
}

#restart:hover{
   background-color: #202E36;
   background-image:url("photos/restart2.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size:30px;

}
#logoImg{
   width:250px;
   margin-left:790px
}
h1{
   color:white;
   font-family:sans-serif;
   margin-left:840px;
   position: relative;
   top:80px
   
}

